// ----------------------------------------------------
// ----- COMPONENT -----
// ----------------------------------------------------

.wrapper {
  background: $bg-gradient;
}

.component {
  display: flex;
  width: 100%;
  min-height: 635px;
  flex-wrap: wrap;
  align-items: center;
  padding: rem(40px 20px);
  position: relative;
  z-index: 0;

  &__left {
    padding-bottom: rem(60px);

    &-subtitle {
      font-size: rem(10px);
      text-transform: uppercase;
      color: $san-marino;
      font-weight: 400;
      letter-spacing: 2px;
      display: inline-block;
      padding-bottom: rem(20px);
    }

    &-title {
      font-size: rem(28px);
      font-weight: 400;
      color: $lucky-point;
      padding-bottom: rem(35px);
      max-width: 21ch;

      &--color {
        color: $blue-ribbon;
      }
    }

    &-text {
      color: $san-marino;
      line-height: 1.875em;
      max-width: 60ch;
    }

    &-btn {
      padding: rem(11px 18px);
      text-transform: uppercase;
      background-color: $sunshade;
      border-radius: rem(4px);
      margin-top: rem(24px);
      cursor: pointer;
    }

    &-anchor {
      display: block;
      font-size: rem(12px);
      font-weight: 400;
      letter-spacing: 1px;
    }

    &-anchor:visited {
      color: $white;
    }
  }

  // Przedstawiam dwa rodzaje ułożenia boksów - Grid i Flexbox (aktywny jest GRID, a FLEXBOX jest zakomentowany).

  // GRID LAYOUT

  &__right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    margin: 0 auto;
    position: relative;

    &-box {
      width: 100%;
      background-color: $white;
      border: 1px solid $bon-joura;
      padding: rem(25px 0 22px 25px);

      &__title {
        font-size: rem(20px);
        font-weight: 500;
        white-space: pre-line;
        color: $lucky-point;
        line-height: 1.875em;
        padding-bottom: rem(10px);
      }

      &__text {
        color: $san-marino;
        font-size: rem(14px);
        line-height: 1.250em;
      }
    }

    &::before {
      content: '';
      background: $trapezoid-gradient;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%);
      width: rem(280px);
      height: rem(115px);
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


  // FLEXBOX

  //&__right {
  //  display: flex;
  //  flex-wrap: wrap;
  //  justify-content: center;
  //}

  // END OF FLEXBOX


  &::before {
    content: '';
    display: block;
    width: rem(320px);
    height: rem(320px);
    background: $quarter-circle-gradient;
    border-radius: rem(320px 0 0 0);
    position: absolute;
    left: 0;
    z-index: -1;
    top: 21.875vw;
  }

  &::after {
    content: '';
    display: block;
    width: rem(393px);
    height: rem(393px);
    position: absolute;
    right: 0;
    top: 0;
    background: $triangle-gradient;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: -2;
  }
}

.material-icons {
  width: rem(40px);
  height: rem(40px);
  border-radius: rem(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(18px);

  &--color-1 {
    background-color:$sail;
    color: $curious-blue;
  }

  &--color-2 {
    background-color:$surf-crest;
    color: $apple;
  }

  &--color-3 {
    background-color:$egg-white;
    color: $sea-buckthorn;
  }

  &--color-4 {
    background-color:$prelude;
    color: $seance;
  }
}

// ----------------------------------------------------
// ----- RESPONSIVE - MEDIA QUERIES -----
// ----------------------------------------------------


@media #{$mobile_land__640} {

  .component {
    &__left {
      &-title {
        font-size: rem(34px);
      }
    }

    &__right {
      grid-template-columns: 1fr 1fr;

      &-box {
        &--1, &--3 {
          transform: translateY(-24px);
        }
      }

      &::before {
        content: '';
        background: $trapezoid-gradient;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%);
        width: rem(280px);
        height: rem(115px);
        position: absolute;
        left: 212px;
        top: 156px;
        transform: translate(0);
        z-index: -1;
      }
    }


    //  FLEXBOX

    //&__right {
    //  &-box {
    //    width: 48%;
    //  }
    //}

    // END OF FLEXBOX


    &::before {
      top: 13.594vw;
    }
  }
}

@media #{$tablet__768} {

  .component {
    padding: rem(40px);

    &__right {
      &-box {
        width: rem(288px);
      }


      //FLEXBOX
      //
      //&::before {
      //  left: 255px;
      //}

      // END OF FLEXBOX


    }

    &::before {
      width: rem(340px);
      height: rem(340px);
      border-radius: rem(340px 0 0 0);
      top: 11.068vw;
    }
  }
}

@media #{$tablet_land__1024} {

  .component {
    flex-wrap: nowrap;

    &__left {
      padding-right: rem(25px);
    }


    // FLEXBOX

    //&__right {
    //  justify-content: flex-end;
    //
    //  &::before {
    //    left: 245px;
    //  }
    //}

    // END OF FLEXBOX


    &::before {
      width: rem(360px);
      height: rem(360px);
      border-radius: rem(360px 0 0 0);
      top: auto;
      bottom: 6.771vw;
    }
  }

}

@media #{$desktop__1280} {

  .component {
    padding: 0;

    &__left {
      //width: 678px;
      width: 50.48399106478034%;
      padding: rem(0 32px 0 71px);

      &-title {
        font-size: rem(48px);
      }
    }

    &__right {
      //width: 665px;
      width: 49.51600893521966%;
      padding-right: rem(65px);

      &-box {

        &--1, &--3 {
          transform: translateY(-24px);
        }
      }
    }

    // FLEXBOX

    //&__left {
    //  width: 48%;
    //}
    //
    //&__right {
    //  width: 52%;
    //
    //  &::before {
    //    left: 212px;
    //  }
    //}

    // END OF FLEXBOX


    &::before {
      width: rem(493px);
      height: rem(418px);
      border-radius: rem(439px 0 0 0);
      bottom: 0.781vw;
    }
  }
}


@media #{$large__screens__1440} {

  // FLEXBOX

  //.component {
  //  &__right {
  //    &::before {
  //      left: 245px;
  //    }
  //  }
  //}

  // END OF FLEXBOX
}

@media #{$full__screens__1600} {}
@media #{$HD__screens__1920} {}

/* ----- END OF RESPONSIVE - MEDIA QUERIES ----- */

/* ----- END OF COMPONENT ----- */